.button {
    background: none;
    cursor: pointer;
    border: 1px dotted rgb(128, 185, 255);
    padding: 0.5rem;
    color: var(--font-color);
    &:disabled {
        border: 1px solid gray;
        color: gray;
    }
    &:hover {
        border: 1px solid gray;
    }
}