.carTracks {
    margin: 1rem 0;
    .btnPanel {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 1rem 0;
        .btnPanelLeft {
            display: flex;
            gap: 1rem;
        }
    }
}