.carTrack {
    padding: 1rem 0;
    border-bottom: 0.1rem solid white;
    display: flex;
    gap: 1rem;
    align-items: center;
    .leftContainer {
        display: flex;
        gap: 0.5rem;
        .btnContainer {
            display: flex;
            flex-direction: column;
            gap: 0.3rem;
        }
        svg {
            height: 5rem;
        }
    }
    .trackroad {
        position: relative;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: start;
        p {
            color: gray;
        }
        .carNameBlock {
            margin-left: 6rem;
        }
        .carName {
            margin-top: 1rem;
        }
        .singleCar {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            & > svg {
                height: 4rem;
            }
        }
        
    }
    .drive {
        animation-name: drive;
        animation-timing-function:ease-in;
        animation-fill-mode:forwards;
    }
}
@keyframes drive {
    from {
        left: 0;
    }
    to {
        left: 100%;
        transform: translate(-100%, -50%);
    }
}