.carTrack {
    padding: 1rem 0;
    border-bottom: 0.1rem solid white;
    display: flex;
    gap: 1rem;
    align-items: center;
    .leftContainer {
        display: flex;
        gap: 0.5rem;
        .btnContainer {
            display: flex;
            flex-direction: column;
            gap: 0.3rem;
        }
        svg {
            height: 5rem;
        }
    }
    .trackroad {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: start;
        p {
            color: gray;
        }
        .carName {
            margin-top: 1rem;
        }
        
    }
    .drive {
        animation-name: drive;
        animation-timing-function:ease-in;
        animation-fill-mode:forwards;
    }
}
@keyframes drive {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(65rem);
    }
}