.table {
    table-layout: fixed;
    width: 100%;
    margin: 1rem 0;
    thead {
        border: 0.1rem solid white;
        border-radius: 10rem;
        text-align: left;
    }
    th {
        font-weight: bold;
        padding: 0.5rem 1rem;
    }
    tr {
        line-height: 2rem;
    }
    td {
        padding: 1rem;
    }
}